<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <a class="title">
      Musify
    </a>
    <button mat-button *ngFor="let item of menu_items" [routerLink]="[item.url]" routerLinkActive="active">
      {{item.title}}
      <mat-icon>{{item.icon }}</mat-icon>
    </button>
    <span style="flex: 1 1;"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      {{user}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-toolbar-row>
  <span style="flex: 1 1;"></span>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="logout()">
      <mat-icon>arrow_back</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>

